<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265833008446-jbiep2ngd32jdm06j7engi4afp5rqo9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265833008446-jbiep2ngd32jdm06j7engi4afp5rqo9c</string>
	<key>API_KEY</key>
	<string>AIzaSyC7v4pP2i9A-j9KII6hTDXCtO2HdWgNmYY</string>
	<key>GCM_SENDER_ID</key>
	<string>265833008446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>buckshee.QuickENews.com</string>
	<key>PROJECT_ID</key>
	<string>quickenews-933c3</string>
	<key>STORAGE_BUCKET</key>
	<string>quickenews-933c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265833008446:ios:f9643df7e46b54b91f706f</string>
</dict>
</plist>